<div class="container">
    <div>
        <h2>Ajouter un Manga :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Nom Manga</label>
            <input type="text" [(ngModel)]="newManga.nomManga"name="nomManga" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Nom Mangaka</label>
            <input type="text"[(ngModel)]= "newManga.mangakaManga"name="mangakaManga" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label >Prix Manga</label>
            <input type="number" [(ngModel)]= "newManga.salaireManga"name="salaireManga" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Date création</label>
            <input type="date" [(ngModel)]= "newManga.dateCreation"name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addManga()"class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
